/* Weather app styling Here */

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    box-shadow: 0 0 10px;
    padding: 4rem;
    border-radius: 1rem;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

form {
    text-align: center;
}

button {
    padding: 10px;
    background: lightblue;
    border-radius: 1rem;
    margin: 20px 0;
    border: none;
}

.weather-box {
    text-align: center;
    background: lightblue;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0;
}

input {
    padding: 7px;
    background: lightblue;
    border: none;
    border-radius: 1rem;
}